name: SonarCloud C# Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Setup .NET (facultatif si pas de build)
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      # 3. Run SonarCloud scan
      - name: SonarQube Scan
        uses: sonarsource/sonarcloud-github-action@v3
        with:
          projectBaseDir: ./src
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
