name: SonarCloud Minimal Scan

on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=JulienForestier_aspnetcore
            -Dsonar.organization=julienforestier
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=.
