name: SonarCloud Minimal .NET Scan

on:
  push:
    branches: [ "main" ]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      # ---- BEGIN ----
      - name: SonarCloud Begin
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # <--- OBLIGATOIRE !
        with:
          args: >
            begin
            /k:"JulienForestier_aspnetcore"
            /o:"julienforestier"
            /d:sonar.host.url="https://sonarcloud.io"
            /d:sonar.exclusions="**/*.java,**/*.cpp,**/*.js" 

      # ---- BUILD ----
      - name: Build
        run: dotnet build --configuration Release

      # ---- END ----
      - name: SonarCloud End
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # <--- OBLIGATOIRE AUSSI
        with:
          args: end
