name: SonarCloud Minimal Scan

on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout du repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. SonarCloud scan minimal
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2.1.0
        with:
          projectKey: JulienForestier_aspnetcore
          organization: julienforestier
          token: ${{ secrets.SONAR_TOKEN }}
